/*
On Xsp Properties you need to ensure "Use runtime optimized JavaScript and CSS resources" is unticked. 
Otherwise button theme colours don't get loaded, probably because of the order of combination of files.
*/
.lotusTitleBar h2.lotusEllipsis {
	width: 250px;
}

.lotusui .lotusAccess {
	width: auto;
}

.lotusTitleBar {
	border-bottom: none;
}

.syntaxhighlighter .toolbar {
	z-index: 0 !important;
}

.xspDataTableViewPanelHeaderStart {
	border-left: medium none;
	background-color: white;
	border-bottom: medium none;
	border-top: medium none;
}

.xspDataTableViewPanelHeaderMiddle {
	border-left: medium none;
	background-color: white;
	border-bottom: medium none;
	border-top: medium none;
}

.xspDataTableViewPanelHeaderEnd {
	border-right: medium none;
	background-color: white;
	border-bottom: medium none;
	border-top: medium none;
}

.xspDataTableViewPanelFooterStart {
	border-left: medium none;
	background-color: white;
	border-bottom: medium none;
	border-top: medium none;
}

.xspDataTableViewPanelFooterEnd {
	border-left: medium none;
	background-color: white;
	border-bottom: medium none;
	border-top: medium none;
}

.xspDataTableViewPanelFooterMiddle {
	border-right: medium none;
	background-color: white;
	border-bottom: medium none;
	border-top: medium none;
}

body.tundra {
	
}

.logo {
	margin: 5px 0px 0px 0px;
}

.lotusContent .contentContainer {
	position: relative;
	float: left;
	width: 100%;
	/*margin-top:20px;*/
}

.lotusContent .contentContainer .column {
	position: relative;
	float: left;
	width: 49%;
}

.lotusContent .contentContainer .column .entryList {
	position: relative;
	float: left;
	margin: 10px 0px 0px 0px;
}

/*snippet form styling*/
.snippetHeader {
	display: inline;
	min-height: 32px; /* To protect favorite icon */
}

.favoriteIconContainer {
	float: right;
}

.formSnippet img.specialFlag {
	margin-left: 10px;
    margin-top: -8px;
}

/*view styling*/
.container .contentContainer .viewPanel {
	position: relative;
	float: left;
	width: 100%;
	margin-top: 10px;
}

.xspFooterContainer {
	position: relative;
	float: left;
	width: 100%;
	margin: 5px;
	text-align: center;
}

.xspFooterContainer ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-align: center;
}

.xspFooterContainer ul li {
	display: inline;
}

.xspFooterContainer ul li a,.xspFooterContainer ul li a:hover,.xspFooterContainer ul li a:visited
	{
	color: #666;
	padding: .2em 1em;
}

.xspDataTableViewPanel {
	width: 100%;
}

.xspPanelViewColumnHeader {
	font-weight: bold;
}

td.xspColumnViewStart {
	width: 200px;
}

td.xspColumnViewStartDate {
	width: 100px;
}

td.xspColumnView100 {
	width: 100px;
}

td.xspColumnView150 {
	width: 150px;
}

td.xspColumnViewStart200 {
	width: 200px;
}

td.xspColumnViewMiddle {
	width: 300px;
}

.profileLink {
	
}

.licensing {
	color: gray;
}

/* Form CSS, should be revised...*/
.lotusForm {
	background-color: white;
}

.lotusForm tr.lotusFormFieldRow td,.lotusForm td.lotusFormFieldRow {
	text-align: left;
	padding-bottom: 3px;
}

.lotusForm td.lotusFormLabel {
	padding-right: 3px;
}

.lotusFormTable,.lotusFormTable td {
	background-color: white;
}

.lotusFormError {
	padding-top: 10px;
}

.lotusForm tr.lotusFormFieldRow td .syntaxhighlighter {
	height: 240px;
	overflow: scroll;
}

.lotusForm .xspInputFieldEditBox {
	margin: 0;
}

.errorPageContent {
	
}

.ratingInfo {
	font-size: 10px;
	color: gray;
	margin-left: 20px;
	padding-top: 3px;
}

/* The next two are to ensure the social sharing bubbles are styled consistently */
.stBubble {
	height: 19px !important;
	margin-top: 0px !important;
	margin-bottom: 0px !important;
}

.stBubble_count {
	font-family: Helvetica, Arial, sans-serif !important;
	font-size: 11px !important;
	line-height: 19px !important;
	height: 19px !important;
	border: 1px solid #8d949e !important;
	padding-top: 0px !important;
	font-weight: normal !important;
	border-radius: 3px !important;
}

.snippetButtons {
	margin: 0px 0px 40px 0px;
}

.socialShare {
	margin: 20px 0px;
}

.involveErrorPanel,.commentsMain {
	margin: 20px 0px;
}

.faceBookComments {
	margin: 20px 0px;
}

/* Edit Profile */
.lotusFormTable .lotusFormFooter {
    background-color: white;
}
.lotusForm2 .lotusFormFooter, .lotusForm td.lotusFormFooter, .lotusFormTable td.lotusFormFooter {
    border-color: white;
    border-style: hidden;
    border-width: 0 0 0 !important;
}

.entry {
    margin-bottom:10px;
  	width: 95%;
}

.entry a,.entry a:visited { color:#000; } 
.entry a:hover, .entry a:active { text-decoration:none; }

.entry .entryLink {
    display:block;
    margin-bottom:2px;
}

.entry .entryLink h3{
    display:inline-block;
    font-size:14px
}

.entry .entryLink .vwImgFeatured {
    margin-left:10px;
    vertical-align:top;
}

.entry .entryBody {
    line-height:30px;    
}

.entry .entryBody .entryLanguage { 
    display:inline-block;
    padding:2px 4px;
   	text-align: center;
	background-color: #649DE1;
	color: #fff;
	border: 1px solid #aaa;
	cursor: pointer;
	line-height:18px;
}

.entry .entryBody .entryText {
    display:inline-block;
    margin-left:10px;
}


.drop-box {
    background: #F8F8F8;
    border: 5px dashed #DDD;
    width: 200px;
    height: 85px;
    text-align: center;
    padding-top: 15px;
    margin: 10px 25px;
}
.dragover {
    border: 5px dashed blue;
}

.modal-dialog {
  width: 900px;
}
.md-outer {
	border-radius: 5px;
	padding:5px;
	margin-top:10px;
	margin-bottom:10px;
	border:1px solid #333333;
}


.dropdown-menu {
    width: 300px !important;
}

.control-label {
	width: 12%;
}

.xspFormTableRowData {
	width: 87%
}

.applayout-content {
	padding: 0px;
}

.searchBar {
	border-bottom:1px solid;
	border-bottom-width: 0.8px;
	border-color: #e7e7e7;
	padding:5px;
}

/*
Button styles, allowing for industry standard colours
*/

.button_primary {
	-moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #197de1;
    background-image: linear-gradient(to bottom, #1b87e3 2%, #166ed5 98%);
    border-color: #156ab3 #1362b1 #1156a8;
    border-image: none;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 #4d98e6 inset, 0 -1px 0 #166bca inset, 0 2px 3px rgba(0, 0, 0, 0.05);
    color: #ecf2f8;
    font-weight: bold;
    height: 37px;
    min-width: 81px;
    padding: 0 19px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.05);
}

.button_friendly {
	-moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #2c9720;
    background-image: linear-gradient(to bottom, #2f9f22 2%, #26881b 98%);
    border-color: #257d1a #227719 #1e6b15;
    border-image: none;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 #46b33a inset, 0 -1px 0 #26811b inset, 0 2px 3px rgba(0, 0, 0, 0.05);
    color: #eaf4e9;
    font-weight: bold;
    height: 37px;
    padding: 0 16px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.05);
}

.button_danger {
	-moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #ed473b;
    background-image: linear-gradient(to bottom, #ee4c3f 2%, #e13e33 98%);
    border-color: #bc3c31 #bb382e #b13028;
    border-image: none;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 #ef786f inset, 0 -1px 0 #da3c31 inset, 0 2px 3px rgba(0, 0, 0, 0.05);
    color: #f9f0ef;
    font-weight: bold;
    height: 37px;
    padding: 0 16px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.05);
}

button {
	-moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #fafafa;
    background-image: linear-gradient(to bottom, #fafafa 2%, #efefef 98%);
    border-color: #c5c5c5 #c5c5c5 #bcbcbc;
    border-image: none;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 white inset, 0 -1px 0 #e7e7e7 inset, 0 2px 3px rgba(0, 0, 0, 0.05);
    color: #191919;
    cursor: pointer;
    font-weight: 400;
    height: 37px;
    outline: medium none;
    padding: 0 16px;
    position: relative;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.05);
    white-space: nowrap;
}

.button_tiny {
	border-radius: 4px;
    font-size: 12px;
    height: 28px;
    padding: 0 13px;
}

.button-disabled {
	opacity: 0.5;
}